@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.panelBackground {
  background-image: url("https://c1.wallpaperflare.com/preview/592/936/918/animals-dogs-cat-play.jpg");
  /* background-image: url("https://c1.wallpaperflare.com/preview/28/306/494/animals-dogs-puppies-dog-kennel.jpg"); */
  /* background-image: url("https://c0.wallpaperflare.com/preview/59/462/405/animals-dogs-cat-pets.jpg"); */
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
}

.menu {
  position: sticky; 
  margin-top: 45px;
  left: 45px;
  cursor: pointer;
}

.panelList {
  cursor: pointer;
  line-height: 2;
  font-family: cursive;
  color: #0b213f;
}

.panelList li:hover {
  color: #a5b4fc;
}

.mapImageContainer {
  overflow: hidden;
  border-left: solid black 1px;
  border-right: solid black 1px;
  margin-left: 10px;
  margin-right: 10px;
}
.mapImage:hover {
  transition: transform 0.3s;
  transform: scale(1.5);
}


.contactFormInput {
  border: solid #0b213f 0.2px;
  margin-top: 20px;
}

@media screen and (max-width: 920px) {
  .animalsGrid {
    display: none;
  }
}

.animalImage {
  overflow: hidden;
  background-position: center;
}
.animalImage:hover {
  overflow: hidden;
  transition: transform 0.3s;
  transform: scale(1.05);
}